.blog {
    padding: 100px 0;
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    .blog__post {
        flex-basis: 32%;    
        margin-bottom: 30px;    
    }
    .post__image {
        overflow: hidden;
    }
    .post__image:hover img {
        transform: scale(1.1);
    }
    .post__image img {
        width: 100%;
        transition: .4s;
    }
    .post__content {
        background: #fff;
        padding: 8px 15px;
        box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.21);
        border: 1px solid #b7b7b7;
        margin-top: -5px;
        min-height: 180px;
    }
    .post__title {
        font-family: Assistant, sans-serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 32px;
        color: $textColor;
        margin-bottom: 15px;
        min-height: 66px;
        display: flex;
        .title__text {
            margin: auto 0;
        }
    }
    .post__introtext, .post__link a {
        font-family: Assistant, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    .post__introtext {
        min-height: 72px;
    }
    .post__link a {
        color: #f26522;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }    
}