@media (max-width: 1760px) {
    .navigation .order__button {
        margin-right: 10px;
    }
    .menu li.menu__li {
        margin: 0 18px;
    }
}
@media (max-width: 1650px) {
    .footer .footer__contact {
        max-width: 250px;
    }
}
@media (max-width: 1610px) {
    .menu li.menu__li {
        font-size: 17px;
    }
    .footer .footer__item ul {
        padding-right: 10px;        
        margin-right: 10px;
    }
    .menu .dropdown-menu {
        top: 69px;
    }
}
@media (max-width: 1510px) {
    .navigation .order__button {
        margin-right: 4px;
    }
    .menu li.menu__li {
        font-size: 16px;
    }
    .button {
        font-size: 17px;
        &::before {
            top: 16px;
        }
    }

}
@media (max-width: 1430px) {
    .navigation .order__button {
        display: none;
    }
    .content_wrapper {
        max-width: 400px;
    }
    .reviews__review {
        justify-content: center;
        &:nth-child(odd) {
            .review__text {
                margin-right: 11%;
            }
        }
        &:nth-child(even) {
            .review__text {
                margin-left: 11%;
            }
        }
    }
    .reviews .review__text {
        flex-basis: 30%;        
    }
    .footer .footer__item ul li a {
        font-size: 14px;
    }
    .footer {
        padding: 30px 20px;
    }
    .menu li.menu__li.dropdown:hover .dropdown-menu {
        transform: translateX(0);
    }
}
@media (max-width: 1250px) {
    .menu li.menu__li.dropdown::before {
        left: -15px;
        top: 47%;
    }
    .menu li.menu__li {
        margin: 0 14px;
    }
    .payments {
        .payments__type {
            flex-wrap: wrap;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
        .payment {
            flex-basis: 40%
        }
    }
    .reviews .review__text::before,
    .reviews .review__text::after {
        display: none;
    }
    .review__text p {
        margin-top: 2px;
    }
    .reviews__review {
        justify-content: center;
        &:nth-child(odd) {
            .review__text {
                margin-right: 5%;
            }
        }
        &:nth-child(even) {
            .review__text {
                margin-left: 5%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .blog {
        max-width: 960px;
        justify-content: center;
        .blog__post {
            flex-basis: 42%;
            margin-right: 25px;
        }
    }
}

@media (max-width: 1170px) {
    .menu li.menu__li {
        font-size: 15px;
        margin: 0 13px;
    }
    .menu .dropdown-menu {
        top: 67px;
    }
}

@media (max-width: 1115px) {
    .slick-dots {
        width: 100%;
    }
    .menu li.menu__li {
        font-size: 14px;
    }
    .menu .dropdown-menu {
        top: 65px;
    }
    .slider__item_bg {
        display: none;
    }
    .slider__item .slider__item_content {
        flex-basis: 100%;
        padding: 60px 0;
    }
    .slick-dots {
        bottom: 20px;
        right: 0;
    }
    .slider-button {        
        display: block;
        margin: auto;
        padding: 18px 52px 18px 65px;
        font-size: 20px !important;
        font-weight: bold;
        &::before {
            top: 24px;
            left: 37px;
        }
    }
    .clients {
        max-width: 90%;
    }
    .clients-arrow {
        position: absolute;
        top: 0;
        font-size: 4em;
        color: #b1b0b1;
    }
    .clients-prev-arrow {
        left: -55px;
    }
    .clients-next-arrow {
        right: -55px;
    }
    .content_wrapper {
        padding-right: unset;
    }
}

@media (max-width: 1080px) {
    .navigation {
        display: none;
    }
    .navigation-mobile {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        align-items: center; 
    }
    .menu-toggle {
        font-size: 2.6em;
        color: #000;
    }
}

@media (max-width: 920px) {
    .footer {
        .footer__item {
            display: none;
            ul {
                margin: 0 auto;
            }
        }
        .footer__contact {
            display: block;
            li.mobile {
                display: inline-block;
            }
            li img {
                height: 20px;
                width: auto !important;
            }
            .footer__logo img {
                width: 100%;
            }
        }
        .copyright {
            margin-top: 20px;
            text-align: center;
        }
    }
    .reviews {
        &__review {
            flex-direction: row-reverse !important;
            flex-wrap: wrap;      
        }
        .review__text {
            margin-left: 0 !important;
            margin-right: 0 !important;
            flex-basis: 60%;
            order: 2;
            margin-top: 40px;
        }
        .review__image {
            order: 1;
            flex-basis: 60%;
            img {
                width: 100%;
            }
        }
    }
    .border_header {
        max-width: 85%;
    }
}

@media (max-width: 768px) {
    .border_header {
        font-size: 28px;
    }
    .payment {
        &__img img {
            width: 100%;
        }
        .payment__title {
            font-size: 22px;
        }
    }
    .reviews .review__text {
        font-size: 18px;
        margin-top: 20px;
    }
    .blog {
        .blog__post {
            flex-basis: 55%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .steps {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
        .step__block {
            margin: 10px 0;
        }
        .arrow_down {
            margin: 20px auto;
        }
    }
    .clients {
        max-width: 80%;
    }
    .clients-arrow {
        top: 6px;
    }
}

@media (max-width: 600px) {
    .slider-arrow {
        display: none !important;
    }
    .blog {
        padding: 60px 0;
        .blog__post {
            flex-basis: 70%;
        }
    }
    .info_row .info_text {
        font-size: 12px;
    }
    .content_wrapper {
        max-width: 85%;
    }
    .clients__client img {
        width: 80%;
        margin: auto;
    }
    .clients-arrow {
        top: 15%;
    }
    .clients-next-arrow {
        right: -35px;
    }
    .clients-prev-arrow {
        left: -35px;
    }
    .border_header {
        max-width: 70%;
        font-size: 22px;
    }
    .slider__item {
        min-height: 445px;
    }
}
@media (max-width: 535px) {
    .payments .payment {
        flex-basis: 60%;
    }
    .steps .step__block {
        width: 179px;
        height: 179px;
    }
    .payment {        
        .payment__title {
            font-size: 20px;
        }
    }
    .payments__type .payment {
        margin: 0 10px;
    }
}
@media (max-width: 500px) {
    .payments {
        padding: 0px 0 30px;
    }
    .payments__type {
        margin-top: 30px;
    }
    .slider__item_content .head-text {
        font-size: 34px;
    }
    .slider__item_content .subhead-text {
        font-size: 30px;
    }
    .blog {
        padding: 40px 0;
        .blog__post {
            flex-basis: 80%;
            margin-bottom: 20px;
        }
        .post__title {
            font-size: 22px;;
        }
        .post__introtext, .post__link {
            font-size: 16px;
        }
    }
    .reviews {
        margin: 30px auto 0;
        &__review {
            margin-bottom: 30px;
        }
        .review__text {
            font-size: 16px;
            margin-top: 10px;
            flex-basis: 80%;
        }
        .review__image {
            flex-basis: 80%;
        }
        
    }
    .partners {
        padding: 30px 0 20px;
    }
    .hr {
        background: url(../img/hr.png) center no-repeat;
        width: 287px;
    }
    .h2 {
        font-size: 30px;
    }
    .footer .contact__data {
        display: none;
    }
    .clients-arrow {
        top: 10%;
    }
}

@media (max-width: 440px) {
    .clients {
        max-width: 70%;
    }
    .clients__client img {
        width: 85%;
    }
    .clients-arrow {
        top: 0;
    }
    .clients .diners {
        margin-top: -5px;
    }
}
@media (max-width: 400px) {
    .payments .payment {
        flex-basis: 80%;
    }
    .blog {
        .blog__post {
            flex-basis: 85%;
        }
    }
    .slider__item_content .head-text {
        font-size: 26px;
    }
    .slider__item_content .subhead-text {
        font-size: 22px;
    }
    .slider__item_content .list-with-tick {
        font-size: 16px;
    }
    .slider__item {
        min-height: 375px;
    }
}
@media (max-width: 330px) {
    .clients-arrow {
        top: -5px;
    }
}