.navigation_wrapper {
    background: #fff;
    position: relative;
    z-index: 3;
}
.navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 170px;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    .menu {
        list-style: none;
        display: flex;
        justify-content: space-between;        
        padding: 0;
        margin: 0;
        font-family: Assistant;
    }
    .order__button {
        background-color: $green;
        &:hover {
            background-color: $greenHover;
        }
    }
}

.menu {
    .dropdown-menu {
        display: none;
        position: absolute;
        z-index: 2;
        border-top: 1px solid #ccc;
        justify-content: space-around;
        min-width: 600px;
        list-style: none;
        box-shadow: 6px 8px 9px rgba(0, 0, 0, 0.35);
        background-color: #f3f3f4;
        top: 74px;        
        padding: 15px 10px;        
        li {            
            font-family: Assistant, sans-serif;
            font-size: 16px;
            line-height: 1.2;
            margin-bottom: 12px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            a {
                color: $textColor;
                cursor: url(../img/menu_pointer.png), auto;                
                &:hover {
                    font-weight: bold;
                }
            }
        }
        .column-group {
            margin: 0 15px;
            li:last-child {
                border: none;
            }
        }
    }
    li.menu__li {
        margin: 0 25px;
        font-size: 20px;
        padding: 25px 0;
        position: relative;                
        a {
            color: $textColor;
            text-decoration: none;            
        }
        &:hover::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 100%;
            bottom: -3px;
            z-index: 100;
            border-bottom: 4px solid #90b300;
        }
    }
    li.menu__li.dropdown {
        &::before {
            content: '';
            position: absolute;
            left: -20px;
            top:45%;
            background: url(../img/menu-down.png) no-repeat;
            width: 13px;
            height: 6px;
        }
        &:hover:before {
            background: url(../img/menu-up.png) no-repeat;
        }
        &:hover .dropdown-menu {
            display: flex;
            transform: translateX(40%);
        }
    }
}

.navigation-mobile {
    display: none;
    flex-direction: row-reverse;
    position: relative;
}
.menu-mobile-container {
    display: none;    
    overflow-y: scroll;
    position: absolute;
    top: 58px;
    height: auto;
    width: 320px;
    right: 0;
    z-index: 100;
    background: #fff;
    max-height: 90vh;
    box-shadow: -2px 14px 23px 9px rgba(0, 0, 0, 0.48);
}

.menu-mobile {        
    list-style: none;
    padding-right: 0;
    margin: 0;
    li {
        border-bottom: 1px solid #ccc;                
        &:last-child {
            border: none;
        }
        a {
            padding: 8px 30px 10px;
            color: $textColor;
            font-family: Assistant, sans-serif;
            font-size: 26px;
            text-decoration: none;
            display: block;
        }
        &:hover {
            background-color: #131c25;
            cursor: pointer;
        }
        &:hover > a, &:focus > a, &:active > a {
            color: #fff
        }
        &.active_li {
            background-color: #131c25;
            & > a, & .dropdown .material-icons {
                color: #fff;
            }
        }
        &:hover span.dropdown i.material-icons {
            color: #fff
        }
        .dropdown {
            float: left;
            margin-top: 7px;
            i.material-icons {
                font-size: 2.2em;
                color: $textColor;
            }
        }
    }
    .dropdown-mobile-menu {
        list-style: none;
        background-color: #f3f3f4;
        display: none;
        padding-right: 10px;
        li {
            &:hover {
                background-color: #2a3845;
            }
            a {
                font-size: 22px;
            }
        }
    }
}