.border_header {
    border: 1px solid #000;
    direction: rtl;
    color: $textColor;
    font-family: Assistant, sans-serif;
    font-size: 34px;
    text-align: center;
    max-width: 810px;
    margin: 20px auto;    
    position: relative;
    padding: 0 15px;
    transform: skew(-15deg);
    .border_header__text {
        transform: skew(15deg);
        padding: 7px 0 13px;
    }
    &::after {
        content: '';
        border: 20px solid;
        border-color: #212b35 transparent transparent transparent;
        position: absolute;        
        left: 48%;
        transform: skew(15deg);        
    }
    &::before {
        content: '';
        border: 18px solid;
        border-color: #fff transparent transparent transparent;
        position: absolute;        
        left: calc(48% + 1px);
        top: 100%;
        z-index: 2;        
        transform: skew(15deg);        
    }  
}

.payments {    
    padding: 40px 0 80px;
    background: #fff;
    .payments__type {
        display: flex;
        justify-content: center;
    }
}
.payments__type {
    margin-top: 80px;
    .payment {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;        
    }
}

.payment {
    .payment__title {            
        color: $textColor;
        font-family: Assistant, sans-serif;
        font-size: 24px;
        font-weight: 700;
        padding: 20px 0;
    }
    .payment__img {
        position: relative;
        overflow: hidden;
        img {
            transition: .4s;            
        }
        &:hover img {
            transform: scale(1.2);
        }
        .payment__bg {
            transition: .4s;            
            width: 100%;
            height: 100%;
            position: absolute; 
            top: 0;                        
            &:hover {
                background: #000;
                opacity: .9;
            }
            &:hover .info {                
                opacity: 1;
            }
        }
    }
}

.payment__bg {
    display: flex;
    .info {        
        opacity: 0;
        transition: .4s;        
        margin: auto;
        a {
            color: #fff;
            /* transition: .4s; */
            text-decoration: none;
            /* cursor: url(../img/pointer2.png), auto; */
            cursor: pointer;
            &:hover {
                color: #90b300;
                text-decoration: none;
            }
            &:hover .info_bag {                
                background: url(../img/info_bag_active.png) center no-repeat;                
            }
            &:hover .info_phone {                
                background: url(../img/info_phone_active.png) center no-repeat;                
            }
            &:hover .info_pc {                
                background: url(../img/info_pc_active.png) center no-repeat;                
            }
            &:hover .info_cash {                
                background: url(../img/info_cash_active.png) 90% no-repeat;                
            }
            &:hover .info_web {                
                background: url(../img/info_web_active.png) center no-repeat;                
            }
        }        
        .info_row {
            display: flex;
            justify-content: flex-end;
            flex-direction: row-reverse;
            align-items: center;
        }
    }
}

.info_row {
    .info_img {
        padding-left: 10px;
        margin-right: 10px;  
        width: 25px;
        height: 25px;
    }
    .info_bag {
        background: url(../img/info_bag.png) center no-repeat;
    }
    .info_phone {
        background: url(../img/info_phone.png) center no-repeat;
    }
    .info_cash {
        background: url(../img/info_cash.png) 90% no-repeat;
    }
    .info_pc {
        background: url(../img/info_pc.png) center no-repeat;
    }
    .info_web {
        background: url(../img/info_web.png) center no-repeat;
    }
    .info_text {
        font-size: 14px;
        padding: 5px 8px;
    }
}

.steps {
    display: flex;
    justify-content: space-around;
    max-width: 960px;
    margin: 30px auto 60px;
    .step {
        margin: 0 20px;
    }    
    .step__block {
        width: 219px;
        height: 219px;
        border: 2px solid #000;
        border-radius: 50%;
        display: flex;
        margin: 40px 0;        
        cursor: pointer;
        img {
            margin: auto;
        }
        &:hover {            
            border-color: #90b300;
        }
    }
/*     .step2 img{
        padding-left: 20px;
    } */
    .step__text {
        text-align: center;
        color: $textColor;
        font-family: Assistant, sans-serif;
        font-size: 20px;
        font-weight: 700;
    }
    .step__block1 {
        background: url(../img/incircle3.png) center center no-repeat;
        &:hover {
            background: #90b300 url(../img/incircle3-active.png) center center no-repeat;
        }
    }
    .step__block2 {
        background: url(../img/incircle2.png) center center no-repeat;
        &:hover {
            background: #90b300 url(../img/incircle2-active.png) center center no-repeat;
        }
    }
    .step__block3 {
        background: url(../img/incircle1.png) center center no-repeat;
        &:hover {
            background: #90b300 url(../img/incircle1-active.png) center center no-repeat;
        }
    }
}

.arrow_down {
    background: url(../img/arrow_down.png) no-repeat;
    width: 80px;
    height: 37px;
    margin: 40px auto;
}