
.clients {    
     max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 70px;    
    &__client {
        /* display: inline-block;
        vertical-align: middle; */
        margin: 0 10px;
        img {
            width: 100%;
        }
    }
    .mt12 {
        margin-top: 12px;
    }
    .paypal {
        img {
            width: 70%;
            display: block;
            margin: auto;
            padding-top: 13px;
        }
    }
    .diners {
        margin-top: -13px;
    }
    .mt9 {
        margin-top: 9px;
    } 
    &.slick-initialized .slick-slide {
        display: inline-block !important;
    }
}


.partners {
    padding: 60px 0 80px;    
}

.reviews {
    max-width: 1170px;
    margin: 80px auto;
    font-family: Assistant;
    &__review {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 70px;
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }        
    .review__text {
        position: relative;
        flex-basis: 45%;
        font-size: 20px;
        &::before {
            content: '';
            position: absolute;
            top: 70%;
            left: -120px;
            background: url(../img/quote_left.png) no-repeat;
            width: 101px;
            height: 99px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 22px;
            right: -120px;
            background: url(../img/quote_right.png) no-repeat;
            width: 101px;
            height: 99px;
        }
    }

    .review__image img {
        width: 100%;
    }
}
