.slider-button {
    background-color: $dark;
    padding: 15px 57px 15px 66px;    
    margin-right: 4px;
    &:hover {
        background-color: $darkHover;
    }
    &::before {
        top: 22px;
        left: 27px;
    }
}
.slider-arrow {
    position: absolute;
    top: 43%;
    z-index: 2;    
    cursor: pointer;
    font-size: 6em;
    color:#fff; 
    opacity: .4;
    &:hover {   
        opacity: 1;     
    }   
}
.prev-arrow {
    left: 0px;    
}
.next-arrow {
    right: 0px;
}
.slider__item {
    display: flex;
    .slider__item_bg {
        flex-basis: 50%;
        min-height: 500px;
    }
    .slider__item_content {
        direction: rtl;
        flex-basis: 50%;
        display: flex;
    }
}

.slider__item_content {
    .head-text {
        font-size: 40px;
        text-transform: uppercase;
        font-family: "Helvetica LT Com0", sans-serif;
        color: #fff;
        margin-bottom: 12px;
    }
    .subhead-text {
        font-family: Assistant, sans-serif;
        font-size: 34px;
        color: #fff;
        line-height: 1.2;
    }
    .list-with-tick {
        list-style: none;        
        color: #fff;
        font-family: Assistant, sans-serif;
        font-size: 20px;
        padding-right: 0;
        li {
            padding-right: 32px;
            background: url(../img/tick.png) right 0 no-repeat;
            background-size: 25px;
            padding-bottom: 3px;
        }
    }
}

.slick-dots {
    width: 50%;
    right: -60px;
}

@media (max-width: 1400px) {
    .slick-dots {
        right: -70px;
    }
}