.container {
    max-width: 1170px;
    margin: 40px auto;
    padding: 30px 100px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    direction: rtl;
}
.shadow {
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.11);
}
.center {
    display: block;
    margin: 0 auto;
}
h1 {
    opacity: 0.43;
    color: #131c25;
    font-family: Arial, sans-serif;
    font-size: 48px;
}
.divider {
    width: 100%;
    height: 3px;
    border: 1px solid #ccc;
    border-color: #ccc transparent #ccc transparent;
    clear: both;
}
.header_content {
    max-width: 80%;
}
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .item {
        margin: 10px 20px;
        flex-basis: 45%;        
        .item__title {
            color: #90b300;
            /* font-size: 34px; */
            font-size: 20px;
            text-decoration: underline;
            font-weight: bold;
            margin-bottom: 15px; 
        }
    
        .item__text {
            color: #252525;
            font-size: 18px;
            
        }
        .item__links {
            margin-top: 10px;
            padding-right: 20px;
            p {
                margin: 2px 0;
            }
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 1100px) {
    .container {
        padding: 30px 50px;
    }
    .content .item {
        margin: 10px
    }
    .header_content {
        max-width: 100%;
    }

}

@media (max-width: 768px) {
    .content .item {
        flex-basis: 90%;
    }
    .container {
        max-width: 87%;
        padding: 5px 20px;
    }
}