@import 'slick';

$green: #90b300;
$greenHover: #7e9b09;
$dark: #131c25;
$darkHover: #0c1117;
$textColor: #131c25;
$bg-orange: linear-gradient(-131deg, #fb8a25 0%, #fb8b24 3%, #f7941d 32%, #f7941d 70%, #f28422 100%);
$bg-green: linear-gradient(-131deg, #83a801 0%, #84a901 3%, #90b300 32%, #90b300 70%, #83a801 100%);
$bg-blue: linear-gradient(-131deg, #028ad0 0%, #028bd0 3%, #0195cc 32%, #0195cc 70%, #028ad0 100%);
$bg-light: #f3f4f4;

@font-face {
	font-family: Assistant;
  src: local('ג˜÷'),
        url('../fonts/Assistant-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Assistant,sans-serif;
    color: $textColor;
    direction: rtl;
}
.overlay {    
    background: #000;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: .4s;
    visibility: hidden;
    &.active {
        opacity: .6;
        visibility: visible;
        z-index: 2;
    }
}
.button {
    position: relative;
    font-size: 20px;
    color: #fff;
    padding: 12px 25px 12px 45px;
    border: none;
    margin-right: 20px;
    font-family: Assistant, sans-serif;
    font-weight: bold;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        top: 19px;
        left: 17px;
        width: 9px;
        height: 14px;
        background: url(../img/small_arrow_left.png) no-repeat;
    }
}
.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}
.content_wrapper {
    margin: auto;
    max-width: 480px;
    padding-right: 40px;
}

.bg-orange {
    background: $bg-orange;
}
.bg-green {
    background: $bg-green;
}
.bg-blue {
    background: $bg-blue;
}
.bg-light {
    background: $bg-light;
}
@import 'inner';
.hr {
    background: url(../img/hr.png) no-repeat;
    width: 322px;
    height: 13px;
    margin: 0 auto;
    display: block; 
}
.h2 {
    font-family: Assistant, sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin: 30px 0;   
}

.text-center {
    text-align: center;
}

@import 'navigation';

@import 'slider';

@import 'payment_type';

@import 'blog';

@import 'reviews';


.footer {
    display: flex;
    background-color: #131c25;
    justify-content: center;
    padding: 30px 0;
    font-family: Assistant;
    .footer__item:nth-child(2) ul {
        border: none;
    }
    .footer__item ul {
        list-style: none;
        border-right: 1px solid #494949;
        padding-right: 20px;
        margin-top: 3px;
        margin-right: 20px;
        li a{
            font-size: 16px;
            line-height: 2;
            font-weight: 400;            
            color: #fff;
            text-decoration: none;
            &:hover {
                text-decoration: underline
            }       
        }
        li.first {
            color: #92b523;
        }
    }
    .footer__contact {
        /* padding-right: 50px; */
        max-width: 300px;
        li.mobile {
            img {
                width: 27px;
            }
            display: none;
        }
    }

    .contact__data {
        color: #fff;
        margin-top: 20px;
        .data__item {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            margin: 10px 0;
            .item__image {
                margin-left: 15px;
            }
        }
    }
    .contact__social {
        margin-top: 30px;
        ul {
            border: none;
            list-style: none;
            padding: 0;
            margin-right: 0;
        }
        li {
            display: inline-block;
            margin: 0 10px;
        }
    }

    .copyright {
        color: #fff;
        font-size: 14px;
        margin-top: 50px;
    }
}

@import 'media';